In [226]:
import pandas as pd

In [227]:
ct = pd.read_excel('../../data/processed/Centrifuga_Total.xlsx')
ct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157239 entries, 0 to 157238
Data columns (total 9 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   DateTime               157239 non-null  object
 1   EN_parcial             154983 non-null  float64
 2   EN_total               155199 non-null  float64
 3   Apertura valvula agua  156224 non-null  float64
 4   Caudal                 156223 non-null  float64
 5   Contrapresion          156223 non-null  float64
 6   Presion agua           111674 non-null  float64
 7   Velocidad separacion   156224 non-null  float64
 8   Num_centrifuga         157239 non-null  int64
dtypes: float64(7), int64(1), object(1)
memory usage: 10.8+ MB

In [228]:
ct.head()

,DateTime,EN_parcial,EN_total,Apertura valvula agua,Caudal,Contrapresion,Presion agua,Velocidad separacion,Num_centrifuga
0,2023-03-15 00:00:00.000,0.0,0.0,100.0,0.0,0.411225,NaN,0.0,17825
1,2023-03-15 00:15:00.000,0.0,0.0,100.0,0.0,0.411225,NaN,0.0,17825
2,2023-03-15 00:30:00.000,0.0,0.0,100.0,0.0,0.410938,NaN,0.0,17825
3,2023-03-15 00:45:00.000,0.0,0.0,100.0,0.0,0.411229,NaN,0.0,17825
4,2023-03-15 01:00:00.000,0.0,0.0,100.0,0.0,0.411227,NaN,0.0,17825

In [229]:
# Are there any dupe rows?
ct.duplicated().sum()

np.int64(0)

In [230]:
# Describe each float column
ct.describe()

,EN_parcial,EN_total,Apertura valvula agua,Caudal,Contrapresion,Presion agua,Velocidad separacion,Num_centrifuga
count,154983.000000,155199.000000,156224.000000,156223.000000,156223.000000,111674.000000,156224.000000,157239.000000
mean,0.001361,0.050890,95.838774,24.764024,0.319711,0.402061,358.151126,14994.333333
std,0.097877,1.084302,16.723563,136.241759,0.709665,0.451891,1486.449974,2074.356990
min,0.000000,0.000000,17.000000,0.000000,-0.800000,-0.142530,0.000000,12912.000000
25%,0.000000,0.000000,100.000000,0.000000,0.002080,0.024688,0.000000,12912.000000
50%,0.000000,0.000000,100.000000,0.000000,0.406304,0.412799,0.000000,14246.000000
75%,0.000000,0.000000,100.000000,0.000000,0.428968,0.453626,0.000000,17825.000000
max,12.000000,66.000000,100.000000,2400.000000,7.074342,4.000000,6694.487420,17825.000000

Interesting values, specially those with a mean near 0, considering their max is way more than 0. There are a lot of 0 values, and a lot of nulls.

In [231]:
# For each column show the number of missing values
ct.isnull().sum()

DateTime                     0
EN_parcial                2256
EN_total                  2040
Apertura valvula agua     1015
Caudal                    1016
Contrapresion             1016
Presion agua             45565
Velocidad separacion      1015
Num_centrifuga               0
dtype: int64

In [232]:
# For each column show the number of 0 values
(ct == 0).sum()

DateTime                      0
EN_parcial               154939
EN_total                 153787
Apertura valvula agua         0
Caudal                   148744
Contrapresion                 0
Presion agua                 15
Velocidad separacion     147338
Num_centrifuga                0
dtype: int64

Why does the data exhibit this pattern?  Some values are never zero meanwhile others are almost always zero.

In [233]:
# Describe using groupby Num_centrifuga
print(ct.groupby('Num_centrifuga')['EN_parcial'].describe())

                  count      mean       std  min  25%  50%  75%   max
Num_centrifuga
12912           51327.0  0.000156  0.016515  0.0  0.0  0.0  0.0   3.0
14246           51828.0  0.003859  0.168256  0.0  0.0  0.0  0.0  12.0
17825           51828.0  0.000058  0.007608  0.0  0.0  0.0  0.0   1.0

In [234]:
print(ct.groupby('Num_centrifuga')['EN_total'].describe())

                  count      mean       std  min  25%  50%  75%   max
Num_centrifuga
12912           51058.0  0.055310  1.093471  0.0  0.0  0.0  0.0  62.0
14246           51828.0  0.035251  0.814950  0.0  0.0  0.0  0.0  62.0
17825           52313.0  0.062069  1.289459  0.0  0.0  0.0  0.0  66.0

In [235]:
print(ct.groupby('Num_centrifuga')['Apertura valvula agua'].describe())

                  count       mean        std        min    25%    50%    75%  \
Num_centrifuga
12912           51487.0  96.426133  15.408582  17.000000  100.0  100.0  100.0
14246           52368.0  95.374782  17.798649  22.863174  100.0  100.0  100.0
17825           52369.0  95.725292  16.838906  23.652878  100.0  100.0  100.0

                  max
Num_centrifuga
12912           100.0
14246           100.0
17825           100.0

In [236]:
print(ct.groupby('Num_centrifuga')['Caudal'].describe())

                  count       mean         std  min  25%  50%  75%  \
Num_centrifuga
12912           51487.0  22.781724  131.454222  0.0  0.0  0.0  0.0
14246           52368.0  26.400984  137.303909  0.0  0.0  0.0  0.0
17825           52368.0  25.076015  139.733254  0.0  0.0  0.0  0.0

                        max
Num_centrifuga
12912           2309.516897
14246           2400.000000
17825           2181.597266

In [237]:
print(ct.groupby('Num_centrifuga')['Contrapresion'].describe())

                  count      mean       std       min       25%       50%  \
Num_centrifuga
12912           51487.0  0.138600  0.783119 -0.800000 -0.005302 -0.001100
14246           52368.0  0.412692  0.668566 -0.051759  0.008449  0.416701
17825           52368.0  0.404795  0.635882 -0.800000  0.002105  0.407345

                     75%       max
Num_centrifuga
12912           0.418577  7.074342
14246           0.428009  6.895808
17825           0.457419  6.853874

In [238]:
print(ct.groupby('Num_centrifuga')['Presion agua'].describe())

                  count      mean       std       min       25%       50%  \
Num_centrifuga
12912           36637.0  0.452688  0.577266 -0.142530  0.018148  0.401221
14246           37518.0  0.386954  0.382353 -0.136785  0.083663  0.418113
17825           37519.0  0.367732  0.363757 -0.026177  0.021007  0.452082

                     75%       max
Num_centrifuga
12912           0.419799  4.000000
14246           0.423275  3.227609
17825           0.464062  2.595497

In [239]:
print(ct.groupby('Num_centrifuga')['Velocidad separacion'].describe())

                  count        mean          std  min  25%  50%  75%  \
Num_centrifuga
12912           51487.0  317.621721  1404.263199  0.0  0.0  0.0  0.0
14246           52368.0  396.126960  1558.386114  0.0  0.0  0.0  0.0
17825           52369.0  360.022824  1490.337105  0.0  0.0  0.0  0.0

                        max
Num_centrifuga
12912           6689.361345
14246           6694.331250
17825           6694.487420

In [240]:
# Convert to datetime
ct['DateTime'] = pd.to_datetime(ct['DateTime'])

In [241]:
# Do all groups follow the +15 minutes rule? (sort first before diff)
weird_minutes = ct.groupby('Num_centrifuga')['DateTime'].apply(lambda x: x.sort_values().diff().dt.total_seconds())
weird_minutes = weird_minutes[weird_minutes > 900]
weird_minutes

Num_centrifuga
12912           53477     4500.0
                89093     4500.0
14246           105890    4500.0
                141506    4500.0
17825           1064      4500.0
                36680     4500.0
Name: DateTime, dtype: float64

In [242]:
# Loc weird_minutes by second level index
ind = weird_minutes.index.get_level_values(1)
ct.loc[ind]

,DateTime,EN_parcial,EN_total,Apertura valvula agua,Caudal,Contrapresion,Presion agua,Velocidad separacion,Num_centrifuga
53477,2023-03-26 03:00:00,0.0,0.0,100.0,0.0,0.427999,NaN,0.0,12912
89093,2024-03-31 03:00:00,0.0,0.0,100.0,0.0,0.410648,0.403475,0.0,12912
105890,2023-03-26 03:00:00,0.0,0.0,100.0,0.0,0.006434,NaN,0.0,14246
141506,2024-03-31 03:00:00,0.0,0.0,100.0,0.0,0.428031,0.423958,0.0,14246
1064,2023-03-26 03:00:00,0.0,0.0,100.0,0.0,0.000652,NaN,0.0,17825
36680,2024-03-31 03:00:00,0.0,0.0,100.0,0.0,0.457228,0.460594,0.0,17825

In [243]:
weird_minutes_oct = ct.groupby('Num_centrifuga')['DateTime'].apply(lambda x: x.sort_values().diff().dt.total_seconds())
weird_minutes_oct = weird_minutes_oct[weird_minutes_oct < 900]
weird_minutes_oct

Num_centrifuga
12912           74309     0.0
                74306     0.0
                74311     0.0
                74308     0.0
14246           126722    0.0
                126719    0.0
                126724    0.0
                126721    0.0
17825           21896     0.0
                21893     0.0
                21898     0.0
                21895     0.0
Name: DateTime, dtype: float64

In [244]:
# Loc weird_minutes by second level index
ind = weird_minutes_oct.index.get_level_values(1)
ct.loc[ind]

,DateTime,EN_parcial,EN_total,Apertura valvula agua,Caudal,Contrapresion,Presion agua,Velocidad separacion,Num_centrifuga
74309,2023-10-29 02:00:00,0.0,0.0,100.0,0.0,-0.004572,-0.021802,0.0,12912
74306,2023-10-29 02:15:00,0.0,0.0,100.0,0.0,-0.004687,-0.017789,0.0,12912
74311,2023-10-29 02:30:00,0.0,0.0,100.0,0.0,-0.004128,-0.018124,0.0,12912
74308,2023-10-29 02:45:00,0.0,0.0,100.0,0.0,-0.005150,-0.021354,0.0,12912
126722,2023-10-29 02:00:00,0.0,0.0,100.0,0.0,0.007718,0.052668,0.0,14246
126719,2023-10-29 02:15:00,0.0,0.0,100.0,0.0,0.007716,0.072119,0.0,14246
126724,2023-10-29 02:30:00,0.0,0.0,100.0,0.0,0.007736,0.056925,0.0,14246
126721,2023-10-29 02:45:00,0.0,0.0,100.0,0.0,0.007581,0.038081,0.0,14246
21896,2023-10-29 02:00:00,0.0,0.0,100.0,0.0,0.002373,0.020660,0.0,17825
21893,2023-10-29 02:15:00,0.0,0.0,100.0,0.0,0.002103,0.022384,0.0,17825
21898,2023-10-29 02:30:00,0.0,0.0,100.0,0.0,0.002487,0.021875,0.0,17825
21895,2023-10-29 02:45:00,0.0,0.0,100.0,0.0,0.002237,0.020405,0.0,17825

### What happened in march and october?  SUMMER TIME CHANGE
#### In March, +1h. Other data not affected.
#### In October, -1h. Makes repeated values appear.

In [245]:
# We should then fix the datetimes.
# From 2024-03-31 02:00:00 onwards, the time is added 1 hour.
# We can standardize the time to UTC.
ct['DateTime'] = ct['DateTime'].dt.tz_localize('Europe/Madrid', ambiguous='infer')
ct['DateTime']

0        2023-03-15 00:00:00+01:00
1        2023-03-15 00:15:00+01:00
2        2023-03-15 00:30:00+01:00
3        2023-03-15 00:45:00+01:00
4        2023-03-15 01:00:00+01:00
                    ...
157234   2024-09-10 23:00:00+02:00
157235   2024-09-10 23:15:00+02:00
157236   2024-09-10 23:30:00+02:00
157237   2024-09-10 23:45:00+02:00
157238   2024-09-11 00:00:00+02:00
Name: DateTime, Length: 157239, dtype: datetime64[ns, Europe/Madrid]

In [246]:
# Print the weird minutes again
ct.iloc[weird_minutes.index.get_level_values(1)]

,DateTime,EN_parcial,EN_total,Apertura valvula agua,Caudal,Contrapresion,Presion agua,Velocidad separacion,Num_centrifuga
53477,2023-03-26 03:00:00+02:00,0.0,0.0,100.0,0.0,0.427999,NaN,0.0,12912
89093,2024-03-31 03:00:00+02:00,0.0,0.0,100.0,0.0,0.410648,0.403475,0.0,12912
105890,2023-03-26 03:00:00+02:00,0.0,0.0,100.0,0.0,0.006434,NaN,0.0,14246
141506,2024-03-31 03:00:00+02:00,0.0,0.0,100.0,0.0,0.428031,0.423958,0.0,14246
1064,2023-03-26 03:00:00+02:00,0.0,0.0,100.0,0.0,0.000652,NaN,0.0,17825
36680,2024-03-31 03:00:00+02:00,0.0,0.0,100.0,0.0,0.457228,0.460594,0.0,17825

In [247]:
# pRINT october weird minutes
ct.iloc[weird_minutes_oct.index.get_level_values(1)]

,DateTime,EN_parcial,EN_total,Apertura valvula agua,Caudal,Contrapresion,Presion agua,Velocidad separacion,Num_centrifuga
74309,2023-10-29 02:00:00+01:00,0.0,0.0,100.0,0.0,-0.004572,-0.021802,0.0,12912
74306,2023-10-29 02:15:00+02:00,0.0,0.0,100.0,0.0,-0.004687,-0.017789,0.0,12912
74311,2023-10-29 02:30:00+01:00,0.0,0.0,100.0,0.0,-0.004128,-0.018124,0.0,12912
74308,2023-10-29 02:45:00+02:00,0.0,0.0,100.0,0.0,-0.005150,-0.021354,0.0,12912
126722,2023-10-29 02:00:00+01:00,0.0,0.0,100.0,0.0,0.007718,0.052668,0.0,14246
126719,2023-10-29 02:15:00+02:00,0.0,0.0,100.0,0.0,0.007716,0.072119,0.0,14246
126724,2023-10-29 02:30:00+01:00,0.0,0.0,100.0,0.0,0.007736,0.056925,0.0,14246
126721,2023-10-29 02:45:00+02:00,0.0,0.0,100.0,0.0,0.007581,0.038081,0.0,14246
21896,2023-10-29 02:00:00+01:00,0.0,0.0,100.0,0.0,0.002373,0.020660,0.0,17825
21893,2023-10-29 02:15:00+02:00,0.0,0.0,100.0,0.0,0.002103,0.022384,0.0,17825
21898,2023-10-29 02:30:00+01:00,0.0,0.0,100.0,0.0,0.002487,0.021875,0.0,17825
21895,2023-10-29 02:45:00+02:00,0.0,0.0,100.0,0.0,0.002237,0.020405,0.0,17825

In [248]:
# Print 2023-10-29 02:00:00, compare without taking into account the time change but take into account hours
ct[ct['DateTime'].dt.date == pd.to_datetime('2023-10-29').date()]
# Expand the range to see the time change
ct[(ct['DateTime'] >= '2023-03-26 01:00:00') & (ct['DateTime'] < '2023-03-26 04:00:00')]

,DateTime,EN_parcial,EN_total,Apertura valvula agua,Caudal,Contrapresion,Presion agua,Velocidad separacion,Num_centrifuga
1060,2023-03-26 01:00:00+01:00,0.0,0.0,100.0,0.0,0.000637,NaN,0.0,17825
1061,2023-03-26 01:15:00+01:00,0.0,0.0,100.0,0.0,0.000349,NaN,0.0,17825
1062,2023-03-26 01:30:00+01:00,0.0,0.0,100.0,0.0,0.000926,NaN,0.0,17825
1063,2023-03-26 01:45:00+01:00,0.0,0.0,100.0,0.0,0.001487,NaN,0.0,17825
1064,2023-03-26 03:00:00+02:00,0.0,0.0,100.0,0.0,0.000652,NaN,0.0,17825
1065,2023-03-26 03:15:00+02:00,0.0,0.0,100.0,0.0,0.000637,NaN,0.0,17825
1066,2023-03-26 03:30:00+02:00,0.0,0.0,100.0,0.0,0.000360,NaN,0.0,17825
1067,2023-03-26 03:45:00+02:00,0.0,0.0,100.0,0.0,0.000637,NaN,0.0,17825
53473,2023-03-26 01:00:00+01:00,0.0,0.0,100.0,0.0,0.426297,NaN,0.0,12912
53474,2023-03-26 01:15:00+01:00,0.0,0.0,100.0,0.0,0.429164,NaN,0.0,12912
53475,2023-03-26 01:30:00+01:00,0.0,0.0,100.0,0.0,0.428588,NaN,0.0,12912
53476,2023-03-26 01:45:00+01:00,0.0,0.0,100.0,0.0,0.427141,NaN,0.0,12912
53477,2023-03-26 03:00:00+02:00,0.0,0.0,100.0,0.0,0.427999,NaN,0.0,12912
53478,2023-03-26 03:15:00+02:00,0.0,0.0,100.0,0.0,0.429159,NaN,0.0,12912
53479,2023-03-26 03:30:00+02:00,0.0,0.0,100.0,0.0,0.429167,NaN,0.0,12912
53480,2023-03-26 03:45:00+02:00,0.0,0.0,100.0,0.0,0.428007,NaN,0.0,12912
105886,2023-03-26 01:00:00+01:00,0.0,0.0,100.0,0.0,0.006424,NaN,0.0,14246
105887,2023-03-26 01:15:00+01:00,0.0,0.0,100.0,0.0,0.006423,NaN,0.0,14246
105888,2023-03-26 01:30:00+01:00,0.0,0.0,100.0,0.0,0.006424,NaN,0.0,14246
105889,2023-03-26 01:45:00+01:00,0.0,0.0,100.0,0.0,0.006418,NaN,0.0,14246
105890,2023-03-26 03:00:00+02:00,0.0,0.0,100.0,0.0,0.006434,NaN,0.0,14246
105891,2023-03-26 03:15:00+02:00,0.0,0.0,100.0,0.0,0.006995,NaN,0.0,14246
105892,2023-03-26 03:30:00+02:00,0.0,0.0,100.0,0.0,0.006421,NaN,0.0,14246
105893,2023-03-26 03:45:00+02:00,0.0,0.0,100.0,0.0,0.006135,NaN,0.0,14246

In [249]:
# Same for october
ct[(ct['DateTime'] >= '2023-10-29 01:00:00') & (ct['DateTime'] < '2023-10-29 04:00:00')]

,DateTime,EN_parcial,EN_total,Apertura valvula agua,Caudal,Contrapresion,Presion agua,Velocidad separacion,Num_centrifuga
21888,2023-10-29 01:00:00+02:00,0.0,0.0,100.0,0.0,0.001928,0.021875,0.0,17825
21889,2023-10-29 01:15:00+02:00,0.0,0.0,100.0,0.0,0.002373,0.021460,0.0,17825
21890,2023-10-29 01:30:00+02:00,0.0,0.0,100.0,0.0,0.001794,0.020486,0.0,17825
21891,2023-10-29 01:45:00+02:00,0.0,0.0,100.0,0.0,0.002083,0.020074,0.0,17825
21892,2023-10-29 02:00:00+02:00,0.0,0.0,100.0,0.0,0.002216,0.021580,0.0,17825
21893,2023-10-29 02:15:00+02:00,0.0,0.0,100.0,0.0,0.002103,0.022384,0.0,17825
21894,2023-10-29 02:30:00+02:00,0.0,0.0,100.0,0.0,0.002238,0.021088,0.0,17825
21895,2023-10-29 02:45:00+02:00,0.0,0.0,100.0,0.0,0.002237,0.020405,0.0,17825
21896,2023-10-29 02:00:00+01:00,0.0,0.0,100.0,0.0,0.002373,0.020660,0.0,17825
21897,2023-10-29 02:15:00+01:00,0.0,0.0,100.0,0.0,0.001794,0.022569,0.0,17825
21898,2023-10-29 02:30:00+01:00,0.0,0.0,100.0,0.0,0.002487,0.021875,0.0,17825
21899,2023-10-29 02:45:00+01:00,0.0,0.0,100.0,0.0,0.002238,0.020486,0.0,17825
21900,2023-10-29 03:00:00+01:00,0.0,0.0,100.0,0.0,0.002373,0.019491,0.0,17825
21901,2023-10-29 03:15:00+01:00,0.0,0.0,100.0,0.0,0.001951,0.021722,0.0,17825
21902,2023-10-29 03:30:00+01:00,0.0,0.0,100.0,0.0,0.002106,0.021889,0.0,17825
21903,2023-10-29 03:45:00+01:00,0.0,0.0,100.0,0.0,0.001659,0.021354,0.0,17825
74301,2023-10-29 01:00:00+02:00,0.0,0.0,100.0,0.0,-0.004282,-0.018589,0.0,12912
74302,2023-10-29 01:15:00+02:00,0.0,0.0,100.0,0.0,-0.004282,-0.018483,0.0,12912
74303,2023-10-29 01:30:00+02:00,0.0,0.0,100.0,0.0,-0.004744,-0.020464,0.0,12912
74304,2023-10-29 01:45:00+02:00,0.0,0.0,100.0,0.0,-0.004886,-0.021940,0.0,12912
74305,2023-10-29 02:00:00+02:00,0.0,0.0,100.0,0.0,-0.004259,-0.020594,0.0,12912
74306,2023-10-29 02:15:00+02:00,0.0,0.0,100.0,0.0,-0.004687,-0.017789,0.0,12912
74307,2023-10-29 02:30:00+02:00,0.0,0.0,100.0,0.0,-0.005150,-0.019630,0.0,12912
74308,2023-10-29 02:45:00+02:00,0.0,0.0,100.0,0.0,-0.005150,-0.021354,0.0,12912
74309,2023-10-29 02:00:00+01:00,0.0,0.0,100.0,0.0,-0.004572,-0.021802,0.0,12912
74310,2023-10-29 02:15:00+01:00,0.0,0.0,100.0,0.0,-0.004847,-0.017799,0.0,12912
74311,2023-10-29 02:30:00+01:00,0.0,0.0,100.0,0.0,-0.004128,-0.018124,0.0,12912
74312,2023-10-29 02:45:00+01:00,0.0,0.0,100.0,0.0,-0.004437,-0.020463,0.0,12912
74313,2023-10-29 03:00:00+01:00,0.0,0.0,100.0,0.0,-0.004757,-0.021922,0.0,12912
74314,2023-10-29 03:15:00+01:00,0.0,0.0,100.0,0.0,-0.004572,-0.019474,0.0,12912
74315,2023-10-29 03:30:00+01:00,0.0,0.0,100.0,0.0,-0.004282,-0.017201,0.0,12912
74316,2023-10-29 03:45:00+01:00,0.0,0.0,100.0,0.0,-0.004282,-0.019178,0.0,12912
126714,2023-10-29 01:00:00+02:00,0.0,0.0,100.0,0.0,0.008449,0.081584,0.0,14246
126715,2023-10-29 01:15:00+02:00,0.0,0.0,100.0,0.0,0.007828,0.062799,0.0,14246
126716,2023-10-29 01:30:00+02:00,0.0,0.0,100.0,0.0,0.008043,0.045774,0.0,14246
126717,2023-10-29 01:45:00+02:00,0.0,0.0,100.0,0.0,0.008184,0.041920,0.0,14246
126718,2023-10-29 02:00:00+02:00,0.0,0.0,100.0,0.0,0.007604,0.072297,0.0,14246
126719,2023-10-29 02:15:00+02:00,0.0,0.0,100.0,0.0,0.007716,0.072119,0.0,14246
126720,2023-10-29 02:30:00+02:00,0.0,0.0,100.0,0.0,0.007581,0.049816,0.0,14246
126721,2023-10-29 02:45:00+02:00,0.0,0.0,100.0,0.0,0.007581,0.038081,0.0,14246
126722,2023-10-29 02:00:00+01:00,0.0,0.0,100.0,0.0,0.007718,0.052668,0.0,14246
126723,2023-10-29 02:15:00+01:00,0.0,0.0,100.0,0.0,0.007581,0.079671,0.0,14246
126724,2023-10-29 02:30:00+01:00,0.0,0.0,100.0,0.0,0.007736,0.056925,0.0,14246
126725,2023-10-29 02:45:00+01:00,0.0,0.0,100.0,0.0,0.007601,0.040128,0.0,14246
126726,2023-10-29 03:00:00+01:00,0.0,0.0,100.0,0.0,0.007608,0.038919,0.0,14246
126727,2023-10-29 03:15:00+01:00,0.0,0.0,100.0,0.0,0.007316,0.072878,0.0,14246
126728,2023-10-29 03:30:00+01:00,0.0,0.0,100.0,0.0,0.007558,0.064585,0.0,14246
126729,2023-10-29 03:45:00+01:00,0.0,0.0,100.0,0.0,0.008140,0.044145,0.0,14246

In [250]:
# Standardize the time to UTC
ct['DateTime'] = ct['DateTime'].dt.tz_convert('UTC')

In [251]:
ct[(ct['DateTime'] >= '2023-03-26 00:00:00') & (ct['DateTime'] < '2023-03-26 04:00:00')]

,DateTime,EN_parcial,EN_total,Apertura valvula agua,Caudal,Contrapresion,Presion agua,Velocidad separacion,Num_centrifuga
1060,2023-03-26 00:00:00+00:00,0.0,0.0,100.0,0.0,0.000637,NaN,0.0,17825
1061,2023-03-26 00:15:00+00:00,0.0,0.0,100.0,0.0,0.000349,NaN,0.0,17825
1062,2023-03-26 00:30:00+00:00,0.0,0.0,100.0,0.0,0.000926,NaN,0.0,17825
1063,2023-03-26 00:45:00+00:00,0.0,0.0,100.0,0.0,0.001487,NaN,0.0,17825
1064,2023-03-26 01:00:00+00:00,0.0,0.0,100.0,0.0,0.000652,NaN,0.0,17825
1065,2023-03-26 01:15:00+00:00,0.0,0.0,100.0,0.0,0.000637,NaN,0.0,17825
1066,2023-03-26 01:30:00+00:00,0.0,0.0,100.0,0.0,0.000360,NaN,0.0,17825
1067,2023-03-26 01:45:00+00:00,0.0,0.0,100.0,0.0,0.000637,NaN,0.0,17825
1068,2023-03-26 02:00:00+00:00,0.0,0.0,100.0,0.0,0.000642,NaN,0.0,17825
1069,2023-03-26 02:15:00+00:00,0.0,0.0,100.0,0.0,0.001778,NaN,0.0,17825
1070,2023-03-26 02:30:00+00:00,0.0,0.0,100.0,0.0,0.000926,NaN,0.0,17825
1071,2023-03-26 02:45:00+00:00,0.0,0.0,100.0,0.0,0.001505,NaN,0.0,17825
1072,2023-03-26 03:00:00+00:00,0.0,0.0,100.0,0.0,0.001505,NaN,0.0,17825
1073,2023-03-26 03:15:00+00:00,0.0,0.0,100.0,0.0,0.000941,NaN,0.0,17825
1074,2023-03-26 03:30:00+00:00,0.0,0.0,100.0,0.0,0.000933,NaN,0.0,17825
1075,2023-03-26 03:45:00+00:00,0.0,0.0,100.0,0.0,0.001785,NaN,0.0,17825
53473,2023-03-26 00:00:00+00:00,0.0,0.0,100.0,0.0,0.426297,NaN,0.0,12912
53474,2023-03-26 00:15:00+00:00,0.0,0.0,100.0,0.0,0.429164,NaN,0.0,12912
53475,2023-03-26 00:30:00+00:00,0.0,0.0,100.0,0.0,0.428588,NaN,0.0,12912
53476,2023-03-26 00:45:00+00:00,0.0,0.0,100.0,0.0,0.427141,NaN,0.0,12912
53477,2023-03-26 01:00:00+00:00,0.0,0.0,100.0,0.0,0.427999,NaN,0.0,12912
53478,2023-03-26 01:15:00+00:00,0.0,0.0,100.0,0.0,0.429159,NaN,0.0,12912
53479,2023-03-26 01:30:00+00:00,0.0,0.0,100.0,0.0,0.429167,NaN,0.0,12912
53480,2023-03-26 01:45:00+00:00,0.0,0.0,100.0,0.0,0.428007,NaN,0.0,12912
53481,2023-03-26 02:00:00+00:00,0.0,0.0,100.0,0.0,0.427994,NaN,0.0,12912
53482,2023-03-26 02:15:00+00:00,0.0,0.0,100.0,0.0,0.429167,NaN,0.0,12912
53483,2023-03-26 02:30:00+00:00,0.0,0.0,100.0,0.0,0.427431,NaN,0.0,12912
53484,2023-03-26 02:45:00+00:00,0.0,0.0,100.0,0.0,0.427141,NaN,0.0,12912
53485,2023-03-26 03:00:00+00:00,0.0,0.0,100.0,0.0,0.428292,NaN,0.0,12912
53486,2023-03-26 03:15:00+00:00,0.0,0.0,100.0,0.0,0.427441,NaN,0.0,12912
53487,2023-03-26 03:30:00+00:00,0.0,0.0,100.0,0.0,0.426855,NaN,0.0,12912
53488,2023-03-26 03:45:00+00:00,0.0,0.0,100.0,0.0,0.428009,NaN,0.0,12912
105886,2023-03-26 00:00:00+00:00,0.0,0.0,100.0,0.0,0.006424,NaN,0.0,14246
105887,2023-03-26 00:15:00+00:00,0.0,0.0,100.0,0.0,0.006423,NaN,0.0,14246
105888,2023-03-26 00:30:00+00:00,0.0,0.0,100.0,0.0,0.006424,NaN,0.0,14246
105889,2023-03-26 00:45:00+00:00,0.0,0.0,100.0,0.0,0.006418,NaN,0.0,14246
105890,2023-03-26 01:00:00+00:00,0.0,0.0,100.0,0.0,0.006434,NaN,0.0,14246
105891,2023-03-26 01:15:00+00:00,0.0,0.0,100.0,0.0,0.006995,NaN,0.0,14246
105892,2023-03-26 01:30:00+00:00,0.0,0.0,100.0,0.0,0.006421,NaN,0.0,14246
105893,2023-03-26 01:45:00+00:00,0.0,0.0,100.0,0.0,0.006135,NaN,0.0,14246
105894,2023-03-26 02:00:00+00:00,0.0,0.0,100.0,0.0,0.006419,NaN,0.0,14246
105895,2023-03-26 02:15:00+00:00,0.0,0.0,100.0,0.0,0.006420,NaN,0.0,14246
105896,2023-03-26 02:30:00+00:00,0.0,0.0,100.0,0.0,0.006134,NaN,0.0,14246
105897,2023-03-26 02:45:00+00:00,0.0,0.0,100.0,0.0,0.007001,NaN,0.0,14246
105898,2023-03-26 03:00:00+00:00,0.0,0.0,100.0,0.0,0.006141,NaN,0.0,14246
105899,2023-03-26 03:15:00+00:00,0.0,0.0,100.0,0.0,0.007292,NaN,0.0,14246
105900,2023-03-26 03:30:00+00:00,0.0,0.0,100.0,0.0,0.006138,NaN,0.0,14246
105901,2023-03-26 03:45:00+00:00,0.0,0.0,100.0,0.0,0.006134,NaN,0.0,14246

In [252]:
# Do weird minutes exist now?
weird_minutes = ct.groupby('Num_centrifuga')['DateTime'].apply(lambda x: x.sort_values().diff().dt.total_seconds())
weird_minutes = weird_minutes[weird_minutes > 900]
weird_minutes

Series([], Name: DateTime, dtype: float64)

In [253]:
# and in october?
weird_minutes_oct = ct.groupby('Num_centrifuga')['DateTime'].apply(lambda x: x.sort_values().diff().dt.total_seconds())
weird_minutes_oct = weird_minutes_oct[weird_minutes_oct < 900]
weird_minutes_oct

Series([], Name: DateTime, dtype: float64)

In [254]:
# Are there dupe rows
ct.duplicated().sum()

np.int64(0)

In [260]:

ct[(ct['DateTime'] >= '2023-10-29 00:00:00') & (ct['DateTime'] < '2023-10-29 04:00:00')]

,DateTime,EN_parcial,EN_total,Apertura valvula agua,Caudal,Contrapresion,Presion agua,Velocidad separacion,Num_centrifuga
21892,2023-10-29 00:00:00+00:00,0.0,0.0,100.0,0.0,0.002216,0.021580,0.0,17825
21893,2023-10-29 00:15:00+00:00,0.0,0.0,100.0,0.0,0.002103,0.022384,0.0,17825
21894,2023-10-29 00:30:00+00:00,0.0,0.0,100.0,0.0,0.002238,0.021088,0.0,17825
21895,2023-10-29 00:45:00+00:00,0.0,0.0,100.0,0.0,0.002237,0.020405,0.0,17825
21896,2023-10-29 01:00:00+00:00,0.0,0.0,100.0,0.0,0.002373,0.020660,0.0,17825
21897,2023-10-29 01:15:00+00:00,0.0,0.0,100.0,0.0,0.001794,0.022569,0.0,17825
21898,2023-10-29 01:30:00+00:00,0.0,0.0,100.0,0.0,0.002487,0.021875,0.0,17825
21899,2023-10-29 01:45:00+00:00,0.0,0.0,100.0,0.0,0.002238,0.020486,0.0,17825
21900,2023-10-29 02:00:00+00:00,0.0,0.0,100.0,0.0,0.002373,0.019491,0.0,17825
21901,2023-10-29 02:15:00+00:00,0.0,0.0,100.0,0.0,0.001951,0.021722,0.0,17825
21902,2023-10-29 02:30:00+00:00,0.0,0.0,100.0,0.0,0.002106,0.021889,0.0,17825
21903,2023-10-29 02:45:00+00:00,0.0,0.0,100.0,0.0,0.001659,0.021354,0.0,17825
21904,2023-10-29 03:00:00+00:00,0.0,0.0,100.0,0.0,0.002066,0.020496,0.0,17825
21905,2023-10-29 03:15:00+00:00,0.0,0.0,100.0,0.0,0.002373,0.020988,0.0,17825
21906,2023-10-29 03:30:00+00:00,0.0,0.0,100.0,0.0,0.001656,0.022321,0.0,17825
21907,2023-10-29 03:45:00+00:00,0.0,0.0,100.0,0.0,0.001661,0.021555,0.0,17825
74305,2023-10-29 00:00:00+00:00,0.0,0.0,100.0,0.0,-0.004259,-0.020594,0.0,12912
74306,2023-10-29 00:15:00+00:00,0.0,0.0,100.0,0.0,-0.004687,-0.017789,0.0,12912
74307,2023-10-29 00:30:00+00:00,0.0,0.0,100.0,0.0,-0.005150,-0.019630,0.0,12912
74308,2023-10-29 00:45:00+00:00,0.0,0.0,100.0,0.0,-0.005150,-0.021354,0.0,12912
74309,2023-10-29 01:00:00+00:00,0.0,0.0,100.0,0.0,-0.004572,-0.021802,0.0,12912
74310,2023-10-29 01:15:00+00:00,0.0,0.0,100.0,0.0,-0.004847,-0.017799,0.0,12912
74311,2023-10-29 01:30:00+00:00,0.0,0.0,100.0,0.0,-0.004128,-0.018124,0.0,12912
74312,2023-10-29 01:45:00+00:00,0.0,0.0,100.0,0.0,-0.004437,-0.020463,0.0,12912
74313,2023-10-29 02:00:00+00:00,0.0,0.0,100.0,0.0,-0.004757,-0.021922,0.0,12912
74314,2023-10-29 02:15:00+00:00,0.0,0.0,100.0,0.0,-0.004572,-0.019474,0.0,12912
74315,2023-10-29 02:30:00+00:00,0.0,0.0,100.0,0.0,-0.004282,-0.017201,0.0,12912
74316,2023-10-29 02:45:00+00:00,0.0,0.0,100.0,0.0,-0.004282,-0.019178,0.0,12912
74317,2023-10-29 03:00:00+00:00,0.0,0.0,100.0,0.0,-0.005150,-0.021170,0.0,12912
74318,2023-10-29 03:15:00+00:00,0.0,0.0,100.0,0.0,-0.004845,-0.020925,0.0,12912
74319,2023-10-29 03:30:00+00:00,0.0,0.0,100.0,0.0,-0.004420,-0.016939,0.0,12912
74320,2023-10-29 03:45:00+00:00,0.0,0.0,100.0,0.0,-0.004282,-0.018576,0.0,12912
126718,2023-10-29 00:00:00+00:00,0.0,0.0,100.0,0.0,0.007604,0.072297,0.0,14246
126719,2023-10-29 00:15:00+00:00,0.0,0.0,100.0,0.0,0.007716,0.072119,0.0,14246
126720,2023-10-29 00:30:00+00:00,0.0,0.0,100.0,0.0,0.007581,0.049816,0.0,14246
126721,2023-10-29 00:45:00+00:00,0.0,0.0,100.0,0.0,0.007581,0.038081,0.0,14246
126722,2023-10-29 01:00:00+00:00,0.0,0.0,100.0,0.0,0.007718,0.052668,0.0,14246
126723,2023-10-29 01:15:00+00:00,0.0,0.0,100.0,0.0,0.007581,0.079671,0.0,14246
126724,2023-10-29 01:30:00+00:00,0.0,0.0,100.0,0.0,0.007736,0.056925,0.0,14246
126725,2023-10-29 01:45:00+00:00,0.0,0.0,100.0,0.0,0.007601,0.040128,0.0,14246
126726,2023-10-29 02:00:00+00:00,0.0,0.0,100.0,0.0,0.007608,0.038919,0.0,14246
126727,2023-10-29 02:15:00+00:00,0.0,0.0,100.0,0.0,0.007316,0.072878,0.0,14246
126728,2023-10-29 02:30:00+00:00,0.0,0.0,100.0,0.0,0.007558,0.064585,0.0,14246
126729,2023-10-29 02:45:00+00:00,0.0,0.0,100.0,0.0,0.008140,0.044145,0.0,14246
126730,2023-10-29 03:00:00+00:00,0.0,0.0,100.0,0.0,0.007598,0.033813,0.0,14246
126731,2023-10-29 03:15:00+00:00,0.0,0.0,100.0,0.0,0.007155,0.053575,0.0,14246
126732,2023-10-29 03:30:00+00:00,0.0,0.0,100.0,0.0,0.007581,0.071420,0.0,14246
126733,2023-10-29 03:45:00+00:00,0.0,0.0,100.0,0.0,0.007292,0.049416,0.0,14246

In [256]:
# make a copy of the dataframe
ct_copy = ct.copy()
# Order the dataframe by DateTime
ct_copy = ct_copy.sort_values(by='DateTime').reset_index(drop=True)
# Select those values from the original dataframe that are not in the same order as the ordered dataframe
ct_copy

,DateTime,EN_parcial,EN_total,Apertura valvula agua,Caudal,Contrapresion,Presion agua,Velocidad separacion,Num_centrifuga
0,2023-03-14 23:00:00+00:00,0.0,0.0,100.0,0.0,0.411225,NaN,0.0,17825
1,2023-03-14 23:00:00+00:00,0.0,0.0,100.0,0.0,0.427143,NaN,0.0,12912
2,2023-03-14 23:00:00+00:00,0.0,0.0,100.0,0.0,0.426557,NaN,0.0,14246
3,2023-03-14 23:15:00+00:00,0.0,0.0,100.0,0.0,0.411225,NaN,0.0,17825
4,2023-03-14 23:15:00+00:00,0.0,0.0,100.0,0.0,0.424826,NaN,0.0,12912
...,...,...,...,...,...,...,...,...,...
157234,2024-09-10 21:45:00+00:00,0.0,0.0,100.0,0.0,0.467852,0.471475,0.0,17825
157235,2024-09-10 21:45:00+00:00,0.0,0.0,100.0,0.0,0.420372,0.410748,0.0,12912
157236,2024-09-10 22:00:00+00:00,0.0,0.0,100.0,0.0,0.420197,0.411111,0.0,12912
157237,2024-09-10 22:00:00+00:00,0.0,0.0,100.0,0.0,0.467651,0.471162,0.0,17825
157238,2024-09-10 22:00:00+00:00,0.0,0.0,100.0,0.0,0.008479,0.136927,0.0,14246

In [257]:
# Whats the interval between each datetime?
ct['DateTime'].diff() 
# Get the min index
ct['DateTime'].diff().idxmin()
# Get that row the one before and the next one datetimes
print(ct.iloc[ct['DateTime'].diff().idxmin() - 1]['DateTime'])
print(ct.iloc[ct['DateTime'].diff().idxmin()]['DateTime'])
print(ct.iloc[ct['DateTime'].diff().idxmin() + 1]['DateTime'])

2024-09-10 22:00:00+00:00
2023-03-14 23:00:00+00:00
2023-03-14 23:15:00+00:00